/* Style the body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header/Logo Title */
.header{
    padding: 200px;
    text-align: center;
    background-image: url('img/background.jpg');
    background-position: center;
    color: white;
    font-size: 30px;
}

/* Page Content */
.content {
    padding: 20px;
    width: 50%;
}

.header h1 {
    border: 5px solid #fff;
    padding: 5px;
    width: 40%;
}