body {
  font-size: 16px; /* ukuran default */
}
h1 {
  font-size: 2em; /* 32px */
}
p {
  font-size: 1rem; /* 16px */
}
.large-text {
  font-size: 1.5rem; /* 24px */
}
.small-text {
  font-size: 0.75rem; /* 12px */
}