.normal {
  font-weight: normal; /* 400 */
}
.bold {
  font-weight: bold; /* 700 */
}
.bolder {
  font-weight: bolder;
}
.lighter {
  font-weight: lighter;
}
.weight-100 {
  font-weight: 100;
}
.weight-900 {
  font-weight: 900;
}