.shadow1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.shadow2 {
  text-shadow: -3px -3px 5px red;
}

.shadow3 {
  text-shadow: 4px 4px 10px blue;
}

.shadow4 {
  text-shadow: 1px 1px 2px #000, 3px 3px 6px rgba(0, 0, 0, 0.3);
}