/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
}

/* NavBar styles */
.navbar {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
}

.navbar-links li {
  margin-left: 20px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbar-links a:hover {
  color: #ddd;
}

/* Mobile Menu Toggle */
.navbar-checkbox {
  display: none;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 25px;
  background-color: white;
  margin: 4px 0;
  transition: 0.4s;
}

/* Content styles */
.content {
  padding: 20px;
  flex-grow: 1;
}

/* Dropdown Styles */
.dropdown{
  position: relative;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 10;
  flex-direction: column-reverse;
}

.dropdown-content a {
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover{
  background-color: #444;
}

.dropdown:hover .dropdown-content{
  display: block;
}


/* Responsive Design */
@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navbar-links li {
    margin: 10px 0;
  }

  .navbar-toggle {
    display: flex;
  }

  .navbar-checkbox:checked + .navbar-toggle + .navbar-links {
    display: flex;
  }
}