body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

footer{
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    text-align: left;
}

.footer-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 20px;
    max-width: 0 1200px;
    margin: 0 auto;
}

.footer-column{
    flex: 1;
    min-width: 200px;
    margin: 20px;
}

.footer-column h4{
    margin-bottom: 20px;
    font-size: 18px;
    text-transform: uppercase;
}

.footer-column ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li{
    margin-bottom: 10px;
}

.footer-column ul li a{
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-column ul li a:hover{
    color: #007bff;
        transform: scale(1.1);
}

.footer-column .social-icons a {
    display: inline-block;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.footer-column .social-icons a img{
    width: 24px;
    height: 24px;
}

.footer-column .social-icons a:hover{
    transform: scale(1.1);
}

.footer-bottom{
    background-color: #222;
    color: #fff;
    padding: 10px 0;
    margin-top: 20px;
    text-align: center;
}